<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburgueria Resilia</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/produtos.css">
</head>

<body>
    <header>
        <img class="hLogo" src="./assets/logo.png">
    </header>
    <div class = pConteudo>
        <p>Produto Cadastrado com Sucesso</p>
    </div>
    <footer>
        <p class="fText">Desenvolvido por Daniel Fujita, Debora Oliveira, Giovanna Assis, Mariana Vettorazzo, Pedro Alves</p>
    </footer>

</body>
</html>