<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburgueria Resilia</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/produtos.css">
</head>

<body>
    <header>
        <img class="hLogo" src="../assets/logo.png">
        <div class="hLinks">
            <p class="hBotao hPedidos">Pedidos</p>
            <a class="hBotao hProdutos" href="../../produtoIndex.html">Produtos</a>
            <p class="hBotao hFornecedores">Fornecedores</p>
            <p class="hBotao hClientes">Clientes</p>
            <p class="hBotao hFuncionários">Funcionários</p>
        </div>
    </header>
    <div class = pConteudo>
        <h1 class="pTitulo">Cadastre um novo produto</h1>
        <form class="pForm" action="http://localhost:3000/produto" method="POST">
            <div class="pInput">
                <p>Qual o produto?</p>
                <input class = "pFormInput" name="descricao" type="text" placeholder="ex. Combo 1">
            </div>
            <div class="pInput">
                <p>Qual o preço de venda?</p>
                <input class = "pFormInput" name="preco" type="number" placeholder="ex. 20.0">
            </div>
            <div class="pInput">
                <p>Qual a quantidade inicial em estoque?</p>
                <input class = "pFormInput" name="quantidade" type="number" placeholder="ex. 30">
            </div>
            <div class="pInput">
                <p>Qual o ID do fornecedor?</p>
                <input class = "pFormInput" name="ID_fornecedor" type="text" placeholder="ex. 2">
            </div>
            <input class = "pFormSubmit" name = "Submit" type="submit" value="Cadastrar">
        </form>
    </div>
    <footer>
        <p class="fText">Desenvolvido por Daniel Fujita, Debora Oliveira, Giovanna Assis, Mariana Vettorazzo, Pedro Alves</p>
    </footer>
</body>

</html>